<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="Limit" value="10" />
    <add key="Tenant" value="48215" />
    <add key="Status" value="2" />
    <add key="ErrorCount" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="local" providerName="Npgsql" connectionString="User ID=postgres;Password=1234;Host=10.25.9.223;Port=5432;Database=dm_ocr_process;" />
    <add name="postgres_from_docker" providerName="Npgsql" connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=54321;Database=postgres;" />
    <add name="sql_connection" connectionString="Data Source=localhost;Initial Catalog=VANGUARD_TX_QA;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>